/*@font-face {
    font-family: roboto;
}*/

html, body {
	margin: 0;
	color: #ddd;
	/* font-family: sans-serif;
	font-weight: lighter;
	width:100%;
	height:100%;
	text-align: center;
  cursor: none;
  z-index: -100;
  overflow: hidden; */
}

body {
  background-color: #ccc;
	overflow: hidden;
}

dual-graph {
	background-color: #333;
	border: 1px solid black;
}

.floater {
	position: fixed;
	background-color: #444;
	border: 1px solid black;
	border-radius: .5em;
	width:7em;
	z-index: 10;
	padding: .5em;
	color: #eee;
}

.floater #actual {
	color: #f66;
	float:right;
}

.floater #intended {
	color: #69f;
	float:right;
}

.floater #grTm {
	float:right;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	--top-bar-hgt: 10vh;
}

.topBar {
	color: #FFDD44;
	background-color: #0B5091;
	height: var(--top-bar-hgt);
	text-align: left;
	vertical-align: middle;
	font-family: serif;
	font-weight: lighter;
  line-height: var(--top-bar-hgt);
	font-size: 2em;
	box-shadow: 0px .125em .125em rgba(0, 0, 0, .25);
}

.topBar .logo {
	display: inline-block;
	line-height: 2em;
	height: 1em;
	width: auto;
	margin-right: .5em;
	margin-left: 1em;
	margin-bottom: .25em;
	vertical-align: middle;
}

.topBar .timeSelect{
	font-size: .5em;
	float: right;
	margin-right: 5vw;
}

.info {
	position: relative;
	box-sizing: border-box;
	font-family: sans-serif;
	margin-top: 5vh;
	width: 100vw;
	height: 40vh;
	background-color: #ddd;
	color: #222;
	box-shadow: 0px -.25em .25em rgba(0, 0, 0, .25);
	padding: 2vh;
	overflow: hidden;
}

.feedback {
	border-bottom: 1px #aaa solid;
	font-weight: 400;
	font-size: 1.2em;
	padding-bottom: 1vh;
}

.feedback span {
	margin-left: 1em;
}

.feedback #current {
	display: inline-block;
	margin-left: .5em;
	background-color: #eee;
	border-radius: .25em;
	width: 5vw;
	padding: .25em;
	font-family: monospace;
	color: #f00;
}

.feedback #cmd {
	display: inline-block;
	margin-left: .5em;
	background-color: #eee;
	border-radius: .25em;
	width: 5vw;
	padding: .25em;
	font-family: monospace;
	color: #00F;
}

.feedback #noteFB {
	display: inline-block;
}

.feedback #notes {
	display: inline-block;
	background-color: #eee;
	border-radius: .25em;
	width: 35vw;
	padding: .25em;
	color: #04A;
	font-family: monospace;
	overflow: hidden;
	vertical-align: middle;
}

.controls {
	position: relative;
}

.ctrol {
	position: absolute;
	display: inline-block;
	width: 42vw;
	top: 2vh;
	height: 25vh;
}

.ctrol > label {
	font-weight: 400;
	font-size: 1.2em;
}

.ctrol > div {
	margin: 1vh;
	padding: 2vh;
	height: 20vh;
	border-radius: 1vh;
	border: 1px solid #aaa;
	background-color: rgba(0,0,0,.0625);
	color: #666;
}

.ctrol > input:checked ~ div {
	color: #222;
}

.divider {
	position: absolute;
	top: 2vh;
	width: 0;
	border-right: 1px #aaa solid;
	left: 50vw;
	height: 25vh;
}

.auto {
	display: inline-block;
}

.manual {
	left: 55vw;
}

.buttons {
	text-align: center;
	bottom: 5vh;
	position: absolute;
	width: 100%;
}

.buttons input {
	font-size: 1.5em;
}

.buttons .go {
	margin-right: 10vw;
}

#tempTime{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
